# Minimal Code Needed for Individual Species KZFP Conservation Profiles for KZFP Shiny App
The goal of this script is to first recreate Anna's analysis of the Trono (https://doi.org/10.1038/nature21683) data. This will then be used to create an interactive Shiny app using R, which will be published for free on http://www.shinyapps.io/.

In [1]:
import pandas as pd

In [2]:
df2 = pd.read_excel("41586_2017_BFnature21683_MOESM103_ESM.xlsx")

In [3]:
# df2.head()

In [4]:
rows = []

# Get rows for each species, cluster, and presence/absence boolean value

In [5]:
species = df2['Latin name'].unique()
# species

In [6]:
clusters = df2['Cluster #'].unique()
# clusters

In [7]:
for organism in species:
    for cluster in clusters:
        rows.append({'Species': organism, 'Cluster': cluster, 'Present': False})

# rows

In [8]:
# Check expected number of rows
expectedRows = len(species)*len(clusters)

In [9]:
# Check that actual number of rows is equal to expected
actualRows = len(rows)

In [10]:
if expectedRows == actualRows:
    print(f"Rejoice! Actual equals expected. \nActual: {actualRows} \tExpected: {expectedRows}")
else:
    print(f"Go ahead and retry that. The actual does not equal expected.\nActual: {actualRows} \tExpected: {expectedRows}")

Rejoice! Actual equals expected.
Actual: 2883909 	Expected: 2883909

In [11]:
# It is, so populate dataframe with False values for now
dfClusterIDBool = pd.DataFrame(rows)
dfClusterIDBool

                      Species  Cluster  Present
0        Acanthisitta chloris      204    False
1        Acanthisitta chloris      205    False
2        Acanthisitta chloris      206    False
3        Acanthisitta chloris      207    False
4        Acanthisitta chloris      208    False
...                       ...      ...      ...
2883904    Xenopus tropicalis    15298    False
2883905    Xenopus tropicalis    15299    False
2883906    Xenopus tropicalis    15300    False
2883907    Xenopus tropicalis    15301    False
2883908    Xenopus tropicalis    15302    False

[2883909 rows x 3 columns]

In [12]:
df2.rename(columns={'Species': 'Species_code', 'Latin name': 'Species','Cluster #': 'Cluster'}, inplace=True)
# df2

In [13]:
dfClusterIDBool['Present'] = dfClusterIDBool[['Species', 'Cluster']].merge(
    df2[['Species', 'Cluster']].drop_duplicates(),
    on=['Species', 'Cluster'],
    how='left',
    indicator=True
)['_merge'].eq('both')

In [14]:
dfClusterIDBool.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2883909 entries, 0 to 2883908
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   Species  object
 1   Cluster  int64
 2   Present  bool
dtypes: bool(1), int64(1), object(1)
memory usage: 46.8+ MB

In [15]:
# Count duplicates for all (Species, Cluster) pairs
duplicates = df2.groupby(['Species', 'Cluster']).size()

# Keep only pairs that appear more than once
duplicates = duplicates[duplicates > 1]

# Number of duplicate pairs
num_duplicate_pairs = duplicates.shape[0]

print("Number of duplicate (Species, Cluster) pairs:", num_duplicate_pairs)
print(duplicates)

Number of duplicate (Species, Cluster) pairs: 3547
Species                 Cluster
Ailuropoda melanoleuca  219        2
                        235        2
                        1034       2
                        1231       2
                        1270       2
                                  ..
Xenopus tropicalis      15277      2
                        15279      2
                        15283      2
                        15289      2
                        15295      2
Length: 3547, dtype: int64

### Note:
With this methodology, I exclude all duplicates. By 'duplicate,' I mean all cases such that there are two or more Species-Cluster pairs.

In [16]:
# dfClusterIDBool

In [17]:
# Save as parquet
# dfClusterIDBool.to_parquet("dfClusterIDBool_data.parquet", compression="snappy")

In [18]:
# Ensure it saved by checking working directory

In [19]:
# ls -lh

In [20]:
# Save as CSV and ensure it saved by checking working directory
# dfClusterIDBool.to_csv("dfClusterIDBool_data.csv.gz", index=False, compression="gzip")

In [21]:
# ls -lh

In [22]:
# Go to next step

In [23]:
df2.rename(columns={'Estimated evolutionary distance from human (MY)': 'timeFromHuman_MY', 'Common name': 'CommonName'}, inplace=True)

# df2

In [24]:
# dfClusterIDBool

In [25]:
# Convert long to wide
df_wide = dfClusterIDBool.pivot(index='Species', columns='Cluster', values='Present').reset_index()
df_wide.columns.name = None

In [26]:
# df_wide

In [27]:
# df_wide.insert(1, 'Order', 'TODO')
# df_wide.insert(2, 'Class', 'TODO')
# df_wide.insert(3, 'CommonName', 'TODO')
# df_wide.insert(4, 'timeFromHuman_MY', 'TODO')

In [28]:
# df_wide

In [29]:
# df_wide['Order'] = 'a'
# df_wide

In [30]:
# print(df_wide.dtypes)
# print(df2.dtypes)

In [31]:
df_wide = df_wide.merge(
    df2[['Species', 'Order', 'Class', 'CommonName', 'timeFromHuman_MY']],
    on='Species',
    how='left'
)
# df_wide

In [32]:
df_wide = df_wide.drop_duplicates()
# df_wide

In [33]:
col0 = df_wide.pop('Order')        # remove the column
df_wide.insert(1, 'Order', col0)   # insert it at position 1 (0-based index)

col1 = df_wide.pop('Class')
df_wide.insert(2, 'Class', col1)

col2 = df_wide.pop('CommonName')
df_wide.insert(3, 'CommonName', col2)

col3 = df_wide.pop('timeFromHuman_MY')
df_wide.insert(4, 'timeFromHuman_MY', col3)

# Check df_wide
df_wide

,Species,Order,Class,CommonName,timeFromHuman_MY,204,205,206,207,208,...,15293,15294,15295,15296,15297,15298,15299,15300,15301,15302
0,Acanthisitta chloris,Passeriformes,Aves,Rifleman,320.5,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Ailuropoda melanoleuca,Carnivora,Mammalia,Giant Panda,97.5,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
305,Alligator mississippiensis,Crocodilia,Reptilia,American alligator,320.5,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
518,Alligator sinensis,Crocodilia,Reptilia,Chinese alligator,320.5,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
784,Amazona vittata,Psittaciformes,Aves,Puerto Rican amazon,320.5,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47563,Vicugna pacos huacaya,Artiodactyla,Mammalia,Huacaya alpaca,97.5,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47867,Vipera berus berus,Squamata,Reptilia,Common European viper,320.5,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
48061,Xenopus laevi,Anura,Reptilia,African clawed frog,355.7,False,False,False,False,False,...,False,False,True,False,True,False,True,False,False,False
48191,Xenopus tropicalis,Anura,Reptilia,Western clawed frog,355.7,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
48399,Zonotrichia albicollis,Passeriformes,Aves,White-throated sparrow,320.5,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [34]:
# # Save as parquet
# df_wide.to_parquet("dfWide_data.parquet", compression="snappy")

# # Save as CSV and ensure it saved by checking working directory
# df_wide.to_csv("dfWide_data.csv.gz", index=False, compression="gzip")

In [35]:
# ls -lh

In [36]:
unique_species = df_wide['Species'].unique()

In [37]:
species_dfs = {}

for species in unique_species:
    species_dfs[species] = df_wide.loc[df_wide['Species'] == species].copy()

In [38]:
# List of metadata columns
id_vars = ['Species', 'Order', 'Class', 'CommonName', 'timeFromHuman_MY']

In [39]:
df_long = df_wide.melt(
    id_vars=id_vars,         # columns to keep as-is
    var_name='Cluster',      # name of the new column for the old column headers
    value_name='Present'     # name of the new column for the cell values
)

In [40]:
df_long

,Species,Order,Class,CommonName,timeFromHuman_MY,Cluster,Present
0,Acanthisitta chloris,Passeriformes,Aves,Rifleman,320.5,204,True
1,Ailuropoda melanoleuca,Carnivora,Mammalia,Giant Panda,97.5,204,False
2,Alligator mississippiensis,Crocodilia,Reptilia,American alligator,320.5,204,False
3,Alligator sinensis,Crocodilia,Reptilia,Chinese alligator,320.5,204,False
4,Amazona vittata,Psittaciformes,Aves,Puerto Rican amazon,320.5,204,False
...,...,...,...,...,...,...,...
2883904,Vicugna pacos huacaya,Artiodactyla,Mammalia,Huacaya alpaca,97.5,15302,False
2883905,Vipera berus berus,Squamata,Reptilia,Common European viper,320.5,15302,False
2883906,Xenopus laevi,Anura,Reptilia,African clawed frog,355.7,15302,False
2883907,Xenopus tropicalis,Anura,Reptilia,Western clawed frog,355.7,15302,False
2883908,Zonotrichia albicollis,Passeriformes,Aves,White-throated sparrow,320.5,15302,True

In [41]:
species_dfs_long = {}
species_dfs_true = {}
species_cluster_conservation_dfs = {}

In [42]:
#####################################################
# OMEGA EDIT THIS... IT DOESN't WORK RIGHT NOW #
#####################################################

def speciesKZFPclusterConservation(species_df_dict, unique_species, df_wide):

    i = 0
    for key in species_df_dict:
        print(key)

        # Melt the wide dataframe to long format
        species_dfs_long[unique_species[i]] = species_df_dict[key].melt(
            id_vars=['Species', 'Order', 'Class', 'CommonName', 'timeFromHuman_MY'],  # keep metadata
            var_name='Cluster',   # column for cluster IDs
            value_name='Present'  # column for True/False
        )
        
        #  # Convert cluster IDs to numeric (optional)
        # species_dfs_long[unique_species[i]]['Cluster'] = df_long[unique_species[i]]['Cluster']
        
        # Keep only rows where Present is True
        species_dfs_true[unique_species[i]] =  species_dfs_long[unique_species[i]].loc[species_dfs_long[unique_species[i]]['Present'] == True].reset_index(drop=True)

        # Get the appropriate dfs for next step
        species_rows = []

        for cluster in species_dfs_true[unique_species[i]]['Cluster']:
            evoDist = df_wide.loc[df_wide['Species']==unique_species[i]]['timeFromHuman_MY'].item()
            present = df_wide.loc[df_wide['Species']==unique_species[i]][cluster].item()
            
        species_rows.append({'cluster': cluster, 'species': organism, 'present': present, 'evoDist': evoDist})

        species_cluster_conservation_dfs[unique_species[i]] = pd.DataFrame(species_rows)
        
        # monoRows
        # print(i)

        #### EDIT
        # Find the order of most cluster TRUE in df to least
        clusterTfreq = []


        for cluster in species_dfs_true[unique_species[i]]['Cluster']:
            freq = species_cluster_conservation_dfs[unique_species[i]].loc[(species_cluster_conservation_dfs[unique_species[i]]['cluster'] == cluster) & (species_cluster_conservation_dfs[unique_species[i]]['present'] == True)].shape[0]
            clusterTfreq.append({'Cluster': cluster, 'Frequency_T': freq})
        
        df_temp = pd.DataFrame(clusterTfreq)        
        
        df_cluster_sorted = df_temp.sort_values(by=['Frequency_T', 'Cluster'], ascending=[False, True])

        cluster_order = []
        for cluster in df_cluster_sorted['Cluster']:
            cluster_order.append(cluster)
            
        species_cluster_conservation_dfs[unique_species[i]]['cluster'] = pd.Categorical(species_cluster_conservation_dfs[unique_species[i]]['cluster'], categories=cluster_order, ordered=True)

        species_cluster_conservation_dfs[unique_species[i]] = species_cluster_conservation_dfs[unique_species[i]].sort_values(by=['evoDist', 'species', 'cluster'], ascending=[False, True, True]).reset_index(drop=True)

        i += 1

    return species_dfs_long, species_dfs_true, species_cluster_conservation_dfs

In [43]:
speciesKZFPclusterConservation(species_dfs, unique_species, df_wide)

Acanthisitta chloris
Ailuropoda melanoleuca
Alligator mississippiensis
Alligator sinensis
Amazona vittata
Anas platyrhynchos
Anolis carolinensis
Anser cygnoides domesticus
Antrostomus carolinensis
Aotus nancymaae
Apalone spinifera
Aptenodytes forsteri
Apteryx australis mantelli
Aquila chrysaetos
Ara macao
Balaenoptera acutorostrata scammoni
Balaenoptera bonaerensis
Balearica regulorum gibbericeps
Bison bison bison
Bos indicus
Bos mutus
Bos taurus
Bubalus bubalis
Callithrix jacchus
Calypte anna
Camelus bactrianus
Camelus dromedarius
Camelus ferus
Canis familiaris
Capra aegagrus
Capra hircus
Capreolus capreolus
Caprimulgus carolinensis
Cariama cristata
Cathartes aura
Cavia aperea
Cavia porcellus
Ceratotherium simum
Cercocebus atys
Chaetura pelagica
Charadrius vociferus
Chelonia mydas
Chinchilla lanigera
Chlamydotis macqueenii
Chlorocebus sabaeus
Choloepus hoffmanni
Chrysemys picta bellii
Chrysochloris asiatica
Colinus virginianus
Colius striatus
Colobus angolensis palliatus
Columba livia
Condylura cristata
Corvus brachyrhynchos
Corvus cornix cornix
Cricetulus griseus
Crocodylus porosus
Crotalus mitchellii
Cuculus canorus
Dasypus novemcinctus
Daubentonia madagascariensis
Dipodomys ordii
Echinops telfairi
Egretta garzetta
Eidolon helvum
Elephantulus edwardii
Eptesicus fuscus
Equus caballus
Equus przewalskii
Erinaceus europaeus
Eulemur flavifrons
Eulemur macaco
Eurypyga helias
Falco cherrug
Falco peregrinus
Felis catus
Ficedula albicollis
Fukomys damarensis
Fulmarus glacialis
Galeopterus variegatus
Gallus gallus
Gavia stellata
Gavialis gangeticus
Geospiza fortis
Gorilla gorilla
Haliaeetus albicilla
Haliaeetus leucocephalus
Heterocephalus glaber
Homo sapiens
Ictidomys tridecemlineatus
Jaculus jaculus
Latimeria chalumnae
Leptonychotes weddellii
Leptosomus discolor
Lipotes vexillifer
Loxodonta africana
Macaca fascicularis
Macaca mulatta
Macaca mulatta lasiota
Macaca nemestrina
Macropus eugenii
Manacus vitellinus
Mandrillus leucophaeus
Manis pentadactyla
Marmota marmota marmota
Megaderma lyra
Meleagris gallopavo
Melopsittacus undulatus
Mesitornis unicolor
Mesocricetus auratus
Microcebus murinus
Microtus ochrogaster
Monodelphis domestica
Mus musculus
Mustela putorius furo
Myotis brandtii
Myotis davidii
Myotis lucifugus
Nannospalax galili
Nanorana parkeri
Nasalis larvatus
Nestor notabilis
Nipponia nippon
Nomascus leucogenys
Ochotona princeps
Octodon degus
Odobenus rosmarus divergens
Ophiophagus hannah
Ophisaurus gracilis
Opisthocomus hoazin
Orcinus orca
Ornithorhynchus anatinus
Orycteropus afer
Oryctolagus cuniculus
Otolemur garnettii
Ovis aries
Ovis aries musimon
Ovis canadensis canadensis
Pan paniscus
Pan troglodytes
Panthera tigris altaica
Pantholops hodgsonii
Papio anubis
Papio hamadryas
Pelecanus crispus
Pelodiscus sinensis
Peromyscus maniculatus bairdii
Phaethon lepturus
Phalacrocorax carbo
Phoenicopterus ruber ruber
Physter macrocephalus
Picoides pubescens
Podiceps cristatus
Pogona vitticeps
Pongo abelii
Procavia capensis
Propithecus coquereli
Pseudopoces humilis
Pseudopodoces humilis
Pterocles gutturalis
Pteronotus parnellii
Pteropus alecto
Pteropus vampyrus
Pygoscelis adeliae
Python molurus bivittatus
Rattus norvegicus
Rhinolophus ferrumequinum
Rhinopithecus roxellana
Saimiri boliviensis
Sarcophilus harrisii
Serinus canaria
Sorex araneus
Struthio camelus australis
Sus scrofa
Taeniopygia guttata
Tarsius syrichta
Tauraco erythrolophus
Thamnophis sirtalis
Tinamus guttatus
Trichechus manatus latirostris
Tupaia belangeri
Tupaia chinensis
Tursiops truncatus
Tyto alba
Ursus maritimus
Vicugna pacos
Vicugna pacos huacaya
Vipera berus berus
Xenopus laevi
Xenopus tropicalis
Zonotrichia albicollis

({'Acanthisitta chloris':                     Species          Order Class CommonName  timeFromHuman_MY  \
  0      Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  1      Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  2      Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  3      Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  4      Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  ...                     ...            ...   ...        ...               ...
  15094  Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  15095  Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  15096  Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  15097  Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5
  15098  Acanthisitta chloris  Passeriformes  Aves   Rifleman             320.5

        Cluster  Present
  0         204     True
  1         205    False
  2         206    False
  3         207    False
  4         208    False
  ...       ...      ...
  15094   15298    False
  15095   15299    False
  15096   15300    False
  15097   15301    False
  15098   15302    False

  [15099 rows x 7 columns],
  'Ailuropoda melanoleuca':                       Species      Order     Class   CommonName  \
  0      Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  1      Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  2      Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  3      Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  4      Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  ...                       ...        ...       ...          ...
  15094  Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  15095  Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  15096  Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  15097  Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda
  15098  Ailuropoda melanoleuca  Carnivora  Mammalia  Giant Panda

         timeFromHuman_MY Cluster  Present
  0                  97.5     204    False
  1                  97.5     205     True
  2                  97.5     206     True
  3                  97.5     207     True
  4                  97.5     208     True
  ...                 ...     ...      ...
  15094              97.5   15298    False
  15095              97.5   15299    False
  15096              97.5   15300    False
  15097              97.5   15301    False
  15098              97.5   15302    False

  [15099 rows x 7 columns],
  'Alligator mississippiensis':                           Species       Order     Class          CommonName  \
  0      Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  1      Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  2      Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  3      Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  4      Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  ...                           ...         ...       ...                 ...
  15094  Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  15095  Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  15096  Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  15097  Alligator mississippiensis  Crocodilia  Reptilia  American alligator
  15098  Alligator mississippiensis  Crocodilia  Reptilia  American alligator

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Alligator sinensis':                   Species       Order     Class         CommonName  \
  0      Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  1      Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  2      Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  3      Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  4      Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  ...                   ...         ...       ...                ...
  15094  Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  15095  Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  15096  Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  15097  Alligator sinensis  Crocodilia  Reptilia  Chinese alligator
  15098  Alligator sinensis  Crocodilia  Reptilia  Chinese alligator

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Amazona vittata':                Species           Order Class           CommonName  \
  0      Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  1      Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  2      Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  3      Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  4      Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  ...                ...             ...   ...                  ...
  15094  Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  15095  Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  15096  Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  15097  Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon
  15098  Amazona vittata  Psittaciformes  Aves  Puerto Rican amazon

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Anas platyrhynchos':                   Species         Order Class CommonName  timeFromHuman_MY  \
  0      Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  1      Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  2      Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  3      Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  4      Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  ...                   ...           ...   ...        ...               ...
  15094  Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  15095  Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  15096  Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  15097  Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5
  15098  Anas platyrhynchos  Anseriformes  Aves    Mallard             320.5

        Cluster  Present
  0         204    False
  1         205    False
  2         206    False
  3         207    False
  4         208    False
  ...       ...      ...
  15094   15298    False
  15095   15299    False
  15096   15300    False
  15097   15301    False
  15098   15302    False

  [15099 rows x 7 columns],
  'Anolis carolinensis':                    Species     Order     Class      CommonName  \
  0      Anolis carolinensis  Squamata  Reptilia  Carolina anole
  1      Anolis carolinensis  Squamata  Reptilia  Carolina anole
  2      Anolis carolinensis  Squamata  Reptilia  Carolina anole
  3      Anolis carolinensis  Squamata  Reptilia  Carolina anole
  4      Anolis carolinensis  Squamata  Reptilia  Carolina anole
  ...                    ...       ...       ...             ...
  15094  Anolis carolinensis  Squamata  Reptilia  Carolina anole
  15095  Anolis carolinensis  Squamata  Reptilia  Carolina anole
  15096  Anolis carolinensis  Squamata  Reptilia  Carolina anole
  15097  Anolis carolinensis  Squamata  Reptilia  Carolina anole
  15098  Anolis carolinensis  Squamata  Reptilia  Carolina anole

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Anser cygnoides domesticus':                           Species         Order Class  CommonName  \
  0      Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  1      Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  2      Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  3      Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  4      Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  ...                           ...           ...   ...         ...
  15094  Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  15095  Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  15096  Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  15097  Anser cygnoides domesticus  Anseriformes  Aves  Swan goose
  15098  Anser cygnoides domesticus  Anseriformes  Aves  Swan goose

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Antrostomus carolinensis':                         Species             Order Class          CommonName  \
  0      Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  1      Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  2      Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  3      Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  4      Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  ...                         ...               ...   ...                 ...
  15094  Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  15095  Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  15096  Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  15097  Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow
  15098  Antrostomus carolinensis  Caprimulgiformes  Aves  Chuck-will's-widow

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Aotus nancymaae':                Species    Order     Class               CommonName  \
  0      Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  1      Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  2      Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  3      Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  4      Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  ...                ...      ...       ...                      ...
  15094  Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  15095  Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  15096  Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  15097  Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey
  15098  Aotus nancymaae  Primate  Mammalia  Nancy Ma's night monkey

         timeFromHuman_MY Cluster  Present
  0                  43.1     204    False
  1                  43.1     205    False
  2                  43.1     206    False
  3                  43.1     207    False
  4                  43.1     208    False
  ...                 ...     ...      ...
  15094              43.1   15298    False
  15095              43.1   15299    False
  15096              43.1   15300    False
  15097              43.1   15301    False
  15098              43.1   15302    False

  [15099 rows x 7 columns],
  'Apalone spinifera':                  Species       Order     Class              CommonName  \
  0      Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  1      Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  2      Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  3      Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  4      Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  ...                  ...         ...       ...                     ...
  15094  Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  15095  Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  15096  Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  15097  Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle
  15098  Apalone spinifera  Testudines  Reptilia  Spiny softshell turtle

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Aptenodytes forsteri':                     Species            Order Class       CommonName  \
  0      Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  1      Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  2      Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  3      Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  4      Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  ...                     ...              ...   ...              ...
  15094  Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  15095  Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  15096  Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  15097  Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin
  15098  Aptenodytes forsteri  Sphenisciformes  Aves  Emperor penguin

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Apteryx australis mantelli':                           Species           Order Class  \
  0      Apteryx australis mantelli  Apterygiformes  Aves
  1      Apteryx australis mantelli  Apterygiformes  Aves
  2      Apteryx australis mantelli  Apterygiformes  Aves
  3      Apteryx australis mantelli  Apterygiformes  Aves
  4      Apteryx australis mantelli  Apterygiformes  Aves
  ...                           ...             ...   ...
  15094  Apteryx australis mantelli  Apterygiformes  Aves
  15095  Apteryx australis mantelli  Apterygiformes  Aves
  15096  Apteryx australis mantelli  Apterygiformes  Aves
  15097  Apteryx australis mantelli  Apterygiformes  Aves
  15098  Apteryx australis mantelli  Apterygiformes  Aves

                      CommonName  timeFromHuman_MY Cluster  Present
  0      North Island brown kiwi             320.5     204    False
  1      North Island brown kiwi             320.5     205    False
  2      North Island brown kiwi             320.5     206    False
  3      North Island brown kiwi             320.5     207    False
  4      North Island brown kiwi             320.5     208    False
  ...                        ...               ...     ...      ...
  15094  North Island brown kiwi             320.5   15298    False
  15095  North Island brown kiwi             320.5   15299    False
  15096  North Island brown kiwi             320.5   15300    False
  15097  North Island brown kiwi             320.5   15301    False
  15098  North Island brown kiwi             320.5   15302    False

  [15099 rows x 7 columns],
  'Aquila chrysaetos':                  Species            Order Class    CommonName  \
  0      Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  1      Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  2      Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  3      Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  4      Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  ...                  ...              ...   ...           ...
  15094  Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  15095  Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  15096  Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  15097  Aquila chrysaetos  Accipitriformes  Aves  Golden eagle
  15098  Aquila chrysaetos  Accipitriformes  Aves  Golden eagle

         timeFromHuman_MY Cluster  Present
  0                 320.5     204    False
  1                 320.5     205    False
  2                 320.5     206    False
  3                 320.5     207    False
  4                 320.5     208    False
  ...                 ...     ...      ...
  15094             320.5   15298    False
  15095             320.5   15299    False
  15096             320.5   15300    False
  15097             320.5   15301    False
  15098             320.5   15302    False

  [15099 rows x 7 columns],
  'Ara macao':          Species           Order Class     CommonName  timeFromHuman_MY  \
  0      Ara macao  Psittaciformes  Aves  Scarlet macaw             320.5
  1      Ara macao  Psittaciformes  Aves  Scarlet macaw             320.5

In [44]:
# for key in species_dfs:
#     print(type(species_dfs[key]))
# # species_dfs['Acanthisitta chloris']

In [45]:
species_cluster_conservation_dfs

{'Acanthisitta chloris':   cluster             species  present  evoDist
 0    3638  Xenopus tropicalis     True    320.5,
 'Ailuropoda melanoleuca':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True     97.5,
 'Alligator mississippiensis':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True    320.5,
 'Alligator sinensis':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True    320.5,
 'Amazona vittata':   cluster             species  present  evoDist
 0    8903  Xenopus tropicalis     True    320.5,
 'Anas platyrhynchos':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Anolis carolinensis':   cluster             species  present  evoDist
 0   15068  Xenopus tropicalis     True    320.5,
 'Anser cygnoides domesticus':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Antrostomus carolinensis':   cluster             species  present  evoDist
 0    8903  Xenopus tropicalis     True    320.5,
 'Aotus nancymaae':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     43.1,
 'Apalone spinifera':   cluster             species  present  evoDist
 0    3638  Xenopus tropicalis     True    320.5,
 'Aptenodytes forsteri':   cluster             species  present  evoDist
 0   13913  Xenopus tropicalis     True    320.5,
 'Apteryx australis mantelli':   cluster             species  present  evoDist
 0    9977  Xenopus tropicalis     True    320.5,
 'Aquila chrysaetos':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True    320.5,
 'Ara macao':   cluster             species  present  evoDist
 0    4221  Xenopus tropicalis     True    320.5,
 'Balaenoptera acutorostrata scammoni':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Balaenoptera bonaerensis':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Balearica regulorum gibbericeps':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Bison bison bison':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Bos indicus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Bos mutus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Bos taurus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Bubalus bubalis':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Callithrix jacchus':   cluster             species  present  evoDist
 0   14929  Xenopus tropicalis     True     43.1,
 'Calypte anna':   cluster             species  present  evoDist
 0    5562  Xenopus tropicalis     True    320.5,
 'Camelus bactrianus':   cluster             species  present  evoDist
 0   14950  Xenopus tropicalis     True     97.5,
 'Camelus dromedarius':   cluster             species  present  evoDist
 0   14950  Xenopus tropicalis     True     97.5,
 'Camelus ferus':   cluster             species  present  evoDist
 0   14950  Xenopus tropicalis     True     97.5,
 'Canis familiaris':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Capra aegagrus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Capra hircus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Capreolus capreolus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Caprimulgus carolinensis':   cluster             species  present  evoDist
 0    8903  Xenopus tropicalis     True    320.5,
 'Cariama cristata':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Cathartes aura':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Cavia aperea':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Cavia porcellus':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True     90.9,
 'Ceratotherium simum':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Cercocebus atys':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Chaetura pelagica':   cluster             species  present  evoDist
 0    5558  Xenopus tropicalis     True    320.5,
 'Charadrius vociferus':   cluster             species  present  evoDist
 0    9977  Xenopus tropicalis     True    320.5,
 'Chelonia mydas':   cluster             species  present  evoDist
 0   15065  Xenopus tropicalis     True    320.5,
 'Chinchilla lanigera':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Chlamydotis macqueenii':   cluster             species  present  evoDist
 0    4221  Xenopus tropicalis     True    320.5,
 'Chlorocebus sabaeus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Choloepus hoffmanni':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True    105.0,
 'Chrysemys picta bellii':   cluster             species  present  evoDist
 0   15065  Xenopus tropicalis     True    320.5,
 'Chrysochloris asiatica':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True    105.0,
 'Colinus virginianus':   cluster             species  present  evoDist
 0    8903  Xenopus tropicalis     True    320.5,
 'Colius striatus':   cluster             species  present  evoDist
 0    5129  Xenopus tropicalis     True    320.5,
 'Colobus angolensis palliatus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Columba livia':   cluster             species  present  evoDist
 0   13913  Xenopus tropicalis     True    320.5,
 'Condylura cristata':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Corvus brachyrhynchos':   cluster             species  present  evoDist
 0    5129  Xenopus tropicalis     True    320.5,
 'Corvus cornix cornix':   cluster             species  present  evoDist
 0    3638  Xenopus tropicalis     True    320.5,
 'Cricetulus griseus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Crocodylus porosus':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True    320.5,
 'Crotalus mitchellii':   cluster             species  present  evoDist
 0   15079  Xenopus tropicalis     True    320.5,
 'Cuculus canorus':   cluster             species  present  evoDist
 0    8903  Xenopus tropicalis     True    320.5,
 'Dasypus novemcinctus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True    105.0,
 'Daubentonia madagascariensis':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     75.9,
 'Dipodomys ordii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Echinops telfairi':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True    105.0,
 'Egretta garzetta':   cluster             species  present  evoDist
 0    4335  Xenopus tropicalis     True    320.5,
 'Eidolon helvum':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Elephantulus edwardii':   cluster             species  present  evoDist
 0   14929  Xenopus tropicalis     True    105.0,
 'Eptesicus fuscus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Equus caballus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Equus przewalskii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Erinaceus europaeus':   cluster             species  present  evoDist
 0   14929  Xenopus tropicalis     True     97.5,
 'Eulemur flavifrons':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     75.9,
 'Eulemur macaco':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     75.9,
 'Eurypyga helias':   cluster             species  present  evoDist
 0    3638  Xenopus tropicalis     True    320.5,
 'Falco cherrug':   cluster             species  present  evoDist
 0    8903  Xenopus tropicalis     True    320.5,
 'Falco peregrinus':   cluster             species  present  evoDist
 0   13913  Xenopus tropicalis     True    320.5,
 'Felis catus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Ficedula albicollis':   cluster             species  present  evoDist
 0    8903  Xenopus tropicalis     True    320.5,
 'Fukomys damarensis':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Fulmarus glacialis':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Galeopterus variegatus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     81.3,
 'Gallus gallus':   cluster             species  present  evoDist
 0    7504  Xenopus tropicalis     True    320.5,
 'Gavia stellata':   cluster             species  present  evoDist
 0    9977  Xenopus tropicalis     True    320.5,
 'Gavialis gangeticus':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True    320.5,
 'Geospiza fortis':   cluster             species  present  evoDist
 0    5715  Xenopus tropicalis     True    320.5,
 'Gorilla gorilla':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True      8.9,
 'Haliaeetus albicilla':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Haliaeetus leucocephalus':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True    320.5,
 'Heterocephalus glaber':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Homo sapiens':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True      0.0,
 'Ictidomys tridecemlineatus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Jaculus jaculus':   cluster             species  present  evoDist
 0   14929  Xenopus tropicalis     True     90.9,
 'Latimeria chalumnae':   cluster             species  present  evoDist
 0    6623  Xenopus tropicalis     True    411.9,
 'Leptonychotes weddellii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Leptosomus discolor':   cluster             species  present  evoDist
 0   13913  Xenopus tropicalis     True    320.5,
 'Lipotes vexillifer':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Loxodonta africana':   cluster             species  present  evoDist
 0   15053  Xenopus tropicalis     True    105.0,
 'Macaca fascicularis':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Macaca mulatta':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Macaca mulatta lasiota':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Macaca nemestrina':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Macropus eugenii':   cluster             species  present  evoDist
 0   14920  Xenopus tropicalis     True    163.7,
 'Manacus vitellinus':   cluster             species  present  evoDist
 0    5300  Xenopus tropicalis     True    320.5,
 'Mandrillus leucophaeus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Manis pentadactyla':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Marmota marmota marmota':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Megaderma lyra':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Meleagris gallopavo':   cluster             species  present  evoDist
 0    7508  Xenopus tropicalis     True    320.5,
 'Melopsittacus undulatus':   cluster             species  present  evoDist
 0   13913  Xenopus tropicalis     True    320.5,
 'Mesitornis unicolor':   cluster             species  present  evoDist
 0    7510  Xenopus tropicalis     True    320.5,
 'Mesocricetus auratus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Microcebus murinus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     75.9,
 'Microtus ochrogaster':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Monodelphis domestica':   cluster             species  present  evoDist
 0   14920  Xenopus tropicalis     True    163.7,
 'Mus musculus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Mustela putorius furo':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Myotis brandtii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Myotis davidii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Myotis lucifugus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Nannospalax galili':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Nanorana parkeri':   cluster             species  present  evoDist
 0   15295  Xenopus tropicalis     True    355.7,
 'Nasalis larvatus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Nestor notabilis':   cluster             species  present  evoDist
 0    9977  Xenopus tropicalis     True    320.5,
 'Nipponia nippon':   cluster             species  present  evoDist
 0   13913  Xenopus tropicalis     True    320.5,
 'Nomascus leucogenys':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     19.9,
 'Ochotona princeps':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Octodon degus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Odobenus rosmarus divergens':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Ophiophagus hannah':   cluster             species  present  evoDist
 0   15079  Xenopus tropicalis     True    320.5,
 'Ophisaurus gracilis':   cluster             species  present  evoDist
 0   15068  Xenopus tropicalis     True    320.5,
 'Opisthocomus hoazin':   cluster             species  present  evoDist
 0   10880  Xenopus tropicalis     True    320.5,
 'Orcinus orca':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Ornithorhynchus anatinus':   cluster             species  present  evoDist
 0   14844  Xenopus tropicalis     True    179.2,
 'Orycteropus afer':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True    105.0,
 'Oryctolagus cuniculus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Otolemur garnettii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     75.9,
 'Ovis aries':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Ovis aries musimon':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Ovis canadensis canadensis':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Pan paniscus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True      6.6,
 'Pan troglodytes':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True      6.6,
 'Panthera tigris altaica':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Pantholops hodgsonii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Papio anubis':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Papio hamadryas':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     29.1,
 'Pelecanus crispus':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Pelodiscus sinensis':   cluster             species  present  evoDist
 0   11808  Xenopus tropicalis     True    320.5,
 'Peromyscus maniculatus bairdii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     90.9,
 'Phaethon lepturus':   cluster             species  present  evoDist
 0    9977  Xenopus tropicalis     True    320.5,
 'Phalacrocorax carbo':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Phoenicopterus ruber ruber':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Physter macrocephalus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Picoides pubescens':   cluster             species  present  evoDist
 0   13913  Xenopus tropicalis     True    320.5,
 'Podiceps cristatus':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Pogona vitticeps':   cluster             species  present  evoDist
 0   15073  Xenopus tropicalis     True    320.5,
 'Pongo abelii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     15.8,
 'Procavia capensis':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True    105.0,
 'Propithecus coquereli':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     75.9,
 'Pseudopoces humilis':   cluster             species  present  evoDist
 0   12688  Xenopus tropicalis     True    320.5,
 'Pseudopodoces humilis':   cluster             species  present  evoDist
 0   13913  Xenopus tropicalis     True    320.5,
 'Pterocles gutturalis':   cluster             species  present  evoDist
 0   12690  Xenopus tropicalis     True    320.5,
 'Pteronotus parnellii':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Pteropus alecto':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Pteropus vampyrus':   cluster             species  present  evoDist
 0   14935  Xenopus tropicalis     True     97.5,
 'Pygoscelis adeliae':   cluster             species  present  evoDist
 0   12092  Xenopus tropicalis     True    320.5,
 'Python molurus bivittatus':   cluster             species  present  evoDist
 0   15079  Xenopus tropicalis     True    320.5,

In [46]:
for key in species_cluster_conservation_dfs:
    print(key)

Acanthisitta chloris
Ailuropoda melanoleuca
Alligator mississippiensis
Alligator sinensis
Amazona vittata
Anas platyrhynchos
Anolis carolinensis
Anser cygnoides domesticus
Antrostomus carolinensis
Aotus nancymaae
Apalone spinifera
Aptenodytes forsteri
Apteryx australis mantelli
Aquila chrysaetos
Ara macao
Balaenoptera acutorostrata scammoni
Balaenoptera bonaerensis
Balearica regulorum gibbericeps
Bison bison bison
Bos indicus
Bos mutus
Bos taurus
Bubalus bubalis
Callithrix jacchus
Calypte anna
Camelus bactrianus
Camelus dromedarius
Camelus ferus
Canis familiaris
Capra aegagrus
Capra hircus
Capreolus capreolus
Caprimulgus carolinensis
Cariama cristata
Cathartes aura
Cavia aperea
Cavia porcellus
Ceratotherium simum
Cercocebus atys
Chaetura pelagica
Charadrius vociferus
Chelonia mydas
Chinchilla lanigera
Chlamydotis macqueenii
Chlorocebus sabaeus
Choloepus hoffmanni
Chrysemys picta bellii
Chrysochloris asiatica
Colinus virginianus
Colius striatus
Colobus angolensis palliatus
Columba livia
Condylura cristata
Corvus brachyrhynchos
Corvus cornix cornix
Cricetulus griseus
Crocodylus porosus
Crotalus mitchellii
Cuculus canorus
Dasypus novemcinctus
Daubentonia madagascariensis
Dipodomys ordii
Echinops telfairi
Egretta garzetta
Eidolon helvum
Elephantulus edwardii
Eptesicus fuscus
Equus caballus
Equus przewalskii
Erinaceus europaeus
Eulemur flavifrons
Eulemur macaco
Eurypyga helias
Falco cherrug
Falco peregrinus
Felis catus
Ficedula albicollis
Fukomys damarensis
Fulmarus glacialis
Galeopterus variegatus
Gallus gallus
Gavia stellata
Gavialis gangeticus
Geospiza fortis
Gorilla gorilla
Haliaeetus albicilla
Haliaeetus leucocephalus
Heterocephalus glaber
Homo sapiens
Ictidomys tridecemlineatus
Jaculus jaculus
Latimeria chalumnae
Leptonychotes weddellii
Leptosomus discolor
Lipotes vexillifer
Loxodonta africana
Macaca fascicularis
Macaca mulatta
Macaca mulatta lasiota
Macaca nemestrina
Macropus eugenii
Manacus vitellinus
Mandrillus leucophaeus
Manis pentadactyla
Marmota marmota marmota
Megaderma lyra
Meleagris gallopavo
Melopsittacus undulatus
Mesitornis unicolor
Mesocricetus auratus
Microcebus murinus
Microtus ochrogaster
Monodelphis domestica
Mus musculus
Mustela putorius furo
Myotis brandtii
Myotis davidii
Myotis lucifugus
Nannospalax galili
Nanorana parkeri
Nasalis larvatus
Nestor notabilis
Nipponia nippon
Nomascus leucogenys
Ochotona princeps
Octodon degus
Odobenus rosmarus divergens
Ophiophagus hannah
Ophisaurus gracilis
Opisthocomus hoazin
Orcinus orca
Ornithorhynchus anatinus
Orycteropus afer
Oryctolagus cuniculus
Otolemur garnettii
Ovis aries
Ovis aries musimon
Ovis canadensis canadensis
Pan paniscus
Pan troglodytes
Panthera tigris altaica
Pantholops hodgsonii
Papio anubis
Papio hamadryas
Pelecanus crispus
Pelodiscus sinensis
Peromyscus maniculatus bairdii
Phaethon lepturus
Phalacrocorax carbo
Phoenicopterus ruber ruber
Physter macrocephalus
Picoides pubescens
Podiceps cristatus
Pogona vitticeps
Pongo abelii
Procavia capensis
Propithecus coquereli
Pseudopoces humilis
Pseudopodoces humilis
Pterocles gutturalis
Pteronotus parnellii
Pteropus alecto
Pteropus vampyrus
Pygoscelis adeliae
Python molurus bivittatus
Rattus norvegicus
Rhinolophus ferrumequinum
Rhinopithecus roxellana
Saimiri boliviensis
Sarcophilus harrisii
Serinus canaria
Sorex araneus
Struthio camelus australis
Sus scrofa
Taeniopygia guttata
Tarsius syrichta
Tauraco erythrolophus
Thamnophis sirtalis
Tinamus guttatus
Trichechus manatus latirostris
Tupaia belangeri
Tupaia chinensis
Tursiops truncatus
Tyto alba
Ursus maritimus
Vicugna pacos
Vicugna pacos huacaya
Vipera berus berus
Xenopus laevi
Xenopus tropicalis
Zonotrichia albicollis

In [47]:
species_cluster_conservation_dfs['Ornithorhynchus anatinus']

  cluster             species  present  evoDist
0   14844  Xenopus tropicalis     True    179.2